<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stazer.user.androidstazerserviceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tenderService.TenderActivity"></activity>
        <activity
            android:name=".BookingInfo.FinalBookingPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingProcess.orderSchduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingProcess.OrderCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingProcess.OrderBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Company.OurVisionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Company.TermsAndConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Company.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingInfo.BookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.geyser.GeyserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.roservice.RoServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.carpenter.CarpenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeAppliance.HomeApplianceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.refrigerator.RefrigeratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.acservice.AcServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.plumber.PlumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".services.electrician.ElectricianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserRegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifyOtpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>